<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neil Template</title>
    {{ bootstrap.load_css() }}
</head>
<body>
    <h1>Neil's Template</h1>
    <p>This is my current template</p>

    <div class="text-center">
        <img src="/static/gametwo.jpg" class="rounded w-50">
    </div>

    <!-- Task 1 & 2 For Lab 16 -->
    <div class="text-center">
        <img src="/static/game.jpeg" class="img-fluid w-75">
    </div>


    {{ bootstrap.load_js() }}


</body>
</html>